In [2]:
import glob
import pandas as pd

In [3]:
files = glob.glob(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\zoom\*\*.csv")
df_list = [pd.read_csv(f) for f in files]
df = pd.concat(df_list, ignore_index=True)

df.to_csv(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\zoom\zoom_allmeetings.csv", index=False)

In [5]:
df = df.dropna(how='all')

In [7]:
df.columns

Index(['Topic', 'Type', 'ID', 'Host name', 'Host email', 'Start time',
       'End time', 'Participants', 'Duration (minutes)',
       'Total participant minutes', 'Department', 'Group', 'Source',
       'Unique viewers', 'Max concurrent views', 'Creation time', 'CANVAS',
       'Name (original name)', 'Email', 'Join time', 'Leave time',
       'Duration (minutes).1', 'Guest', 'Recording disclaimer response',
       'In waiting room'],
      dtype='object')

In [ ]:
df = df[['Topic', 'ID', 'Host name', 'Host email','Start time',
       'End time', 'Participants', 'Duration (minutes)', 'Name (original name)', 
       'Email', 'Join time', 'Leave time','Duration (minutes).1', 'Guest'
       ]]

In [9]:
df

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Unique viewers,Email,Join time,Leave time,Duration (minutes).1,Guest
0,2500COM,976 6467 4097,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:27,9/30/2024 19:27,1.0,1.0,-,ta1@minhvietacademy.org,9/30/2024 19:27,9/30/2024 19:27,1.0,No
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211.0,60.0,-,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,60.0,No
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211.0,60.0,-,NaN,9/30/2024 19:25,9/30/2024 20:25,60.0,Yes
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211.0,60.0,-,23001816@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,60.0,No
5,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211.0,60.0,-,22002469@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,60.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278676,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,05/05/2025 06:24:38 PM,05/05/2025 07:25:37 PM,40.0,61.0,-,19050342@minhvietacademy.org,05/05/2025 07:12:31 PM,05/05/2025 07:25:37 PM,14.0,No
278677,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,05/05/2025 06:24:38 PM,05/05/2025 07:25:37 PM,40.0,61.0,-,19070116@minhvietacademy.org,05/05/2025 07:17:46 PM,05/05/2025 07:25:36 PM,8.0,No
278678,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,05/05/2025 06:24:38 PM,05/05/2025 07:25:37 PM,40.0,61.0,-,22002927@minhvietacademy.org,05/05/2025 07:22:10 PM,05/05/2025 07:25:37 PM,4.0,No
278679,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,05/05/2025 06:24:38 PM,05/05/2025 07:25:37 PM,40.0,61.0,-,19052826@minhvietacademy.org,05/05/2025 06:43:03 PM,05/05/2025 06:43:03 PM,0.0,No
278680,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,05/05/2025 06:24:38 PM,05/05/2025 07:25:37 PM,40.0,61.0,-,19052826@minhvietacademy.org,05/05/2025 06:44:02 PM,05/05/2025 07:25:36 PM,42.0,No