# Clean & Merge/Match 3 Datasets

In [1]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
df = pd.read_csv('zoom_logs.csv')
df.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Guest,SID,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,No,NaN,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,schedule1,TA/Teacher
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,"Hoang Anh, Bao",NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,No,23001816.0,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,23001816,Student
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,No,22002469.0,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,22002469,Student
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,No,24002190.0,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,24002190,Student

In [11]:
#Extract 5-digit SID from log in zoom name in case the student does not log in with verified school email
mask = (df['role'] == 'Student') & (df['SID_str'].isna())
extracted = (
    df.loc[mask, 'Name (original name)']
      .astype(str)
      .str.extract(r'(?<!\d)(\d{5})(?!\d)', expand=False)
)

# Assign only where we actually found a match
df.loc[mask, 'SID_str'] = extracted

#Check the newly extracted rows
df1 = df.loc[mask]
df1[df['SID_str'].isna()]

C:\Users\Admin\AppData\Local\Temp\ipykernel_36712\2706133155.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df1[df['SID_str'].isna()]

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Guest,SID,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,"Hoang Anh, Bao",NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
13,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,Thao Nguyen Nguyen,NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
28,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,"Le Minh, An",NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:26:00,20:25:00,NaN,Student
32,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,"Ngo Tram, Bao",NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:26:00,20:02:00,NaN,Student
34,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,2024-09-30 19:25:00,2024-09-30 20:25:00,211.0,60.0,"Do Thu, Anh",NaN,...,Yes,NaN,2024-09-30,19:25:00,Monday,19,19:26:00,19:32:00,NaN,Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277872,25ECON,922 1931 6007,Schedule 9,schedule9@minhvietacademy.org,2025-05-06 18:25:41,2025-05-06 19:25:07,51.0,60.0,"Nguyen Tien, Anh",NaN,...,Yes,NaN,2025-05-06,18:25:41,Tuesday,18,18:34:36,19:25:07,NaN,Student
277908,25APBIO,942 5158 6913,Schedule 9,schedule9@minhvietacademy.org,2025-05-05 19:25:59,2025-05-05 20:23:43,47.0,58.0,"Nguyen Hung, Viet",NaN,...,Yes,NaN,2025-05-05,19:25:59,Monday,19,19:27:14,20:16:01,NaN,Student
277911,25APBIO,942 5158 6913,Schedule 9,schedule9@minhvietacademy.org,2025-05-05 19:25:59,2025-05-05 20:23:43,47.0,58.0,"Than Thu, Nguyen Minh",NaN,...,Yes,NaN,2025-05-05,19:25:59,Monday,19,19:29:23,20:23:43,NaN,Student
277928,25APBIO,942 5158 6913,Schedule 9,schedule9@minhvietacademy.org,2025-05-05 19:25:59,2025-05-05 20:23:43,47.0,58.0,"Nguyen Tien, Anh",NaN,...,Yes,NaN,2025-05-05,19:25:59,Monday,19,19:38:36,20:23:42,NaN,Student
277972,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,2025-05-05 18:24:38,2025-05-05 19:25:37,40.0,61.0,"Nguyen Hung, Viet",NaN,...,Yes,NaN,2025-05-05,18:24:38,Monday,18,18:43:33,19:25:37,NaN,Student