In [1]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#from adjustText import adjust_text

In [4]:
zoom = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\final_zoom.xlsx", dtype={'SID': str, 'SID_str': str})
goiten = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\final_goiten.xlsx", dtype={'SID_8digit':str,'SID_5digit': str})
students = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\final_student_list.xlsx", dtype={'SID_8digit':str,'SID_5digit': str})
canvas = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\final_canvas.xlsx", dtype={'SID': str})


print(students.head())
print(zoom.head())
print(goiten.head())
print(canvas.head())

c:\Users\Admin\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Data Validation extension is not supported and will be removed
  for idx, row in parser.parse():

         SID SID_8digit SID_5digit                  Name Grade_actual  \
0  2001-4683   20014683      14683        Tran Khanh Chi         HM 6
1  2001-3864   20013864      13864     Nguyen Ngoc Thien         HM 6
2  2300-3836   23003836      03836         Đào Quỳnh Anh      Grade K
3  2300-3836   23003836      03836         Dao Quynh Anh          NaN
4  2100-0100   21000100      00100  Nguyễn Hoàng Trúc An      Grade K

     Grade  EFL                                  Note MVA/MVSM concat  \
0     HM 6  NaN  Found in goiten, not in student list      NaN    NaN
1     HM 6  NaN  Found in goiten, not in student list      NaN    NaN
2  Grade K  NaN  Found in goiten, not in student list      NaN    NaN
3  Grade 2  NaN                                   NaN      NaN    NaN
4  Grade K  NaN  Found in goiten, not in student list      NaN    NaN

   4 last digits Học sinh cùng lớp có chung 4 số cuối ID           last_join  \
0            NaN                                     NaN 2025-05-29 18:29:00
1            NaN                                     NaN 2025-04-24 19:28:00
2            NaN                                     NaN 2025-03-26 19:58:00
3            NaN                                     NaN 2025-03-26 19:58:00
4            NaN                                     NaN 2025-01-07 19:34:00

   days_to_end  dropout _merge
0            1    False   both
1           36     True   both
2           65     True   both
3           65     True   both
4          143     True   both
     Topic             ID   Host name                     Host email  \
0  2501HUM  977 3083 0512  schedule 1  schedule1@minhvietacademy.org
1  2501HUM  977 3083 0512  schedule 1  schedule1@minhvietacademy.org
2  2501HUM  977 3083 0512  schedule 1  schedule1@minhvietacademy.org
3  2501HUM  977 3083 0512  schedule 1  schedule1@minhvietacademy.org
4  2501HUM  977 3083 0512  schedule 1  schedule1@minhvietacademy.org

        Start time         End time  Participants  Duration (minutes)  \
0  9/30/2024 19:25  9/30/2024 20:25           211                  60
1  9/30/2024 19:25  9/30/2024 20:25           211                  60
2  9/30/2024 19:25  9/30/2024 20:25           211                  60
3  9/30/2024 19:25  9/30/2024 20:25           211                  60
4  9/30/2024 19:25  9/30/2024 20:25           211                  60

          Name (original name)                         Email  ...   SID_full  \
0   Mai Nguyen Truc Linh 01816  23001816@minhvietacademy.org  ...  2300-1816
1  Nguyen Pham Nhat Minh 02469  22002469@minhvietacademy.org  ...  2200-2469
2           Yen Ha Tu Vy 02190  24002190@minhvietacademy.org  ...  2400-2190
3         Lai Ngan Khanh 01771  23001771@minhvietacademy.org  ...  2300-1771
4        Tran Minh Khang 03927  23003927@minhvietacademy.org  ...  2300-3927

                    Name    Grade     EFL        Note MVA/MVSM        concat  \
0   Mai Nguyễn Trúc Linh  Grade 1  EFL K5  Chính thức      MVA  MVA2300-1816
1  Nguyễn Phạm Nhật Minh  Grade 1  EFL K5  Chính thức      MVA  MVA2200-2469
2           VY HÀ TÚ YÊN  Grade 1  EFL K5  Chính thức      MVA  MVA2400-2190
3         Lại Ngân Khánh  Grade 1  EFL K5  Chính thức      MVA  MVA2300-1771
4        Trần Minh Khang  Grade 1  EFL K5  Chính thức      MVA  MVA2300-3927

  4 last digits  Học sinh cùng lớp có chung 4 số cuối ID _merge
0        1816.0                                      NaN   both
1        2469.0                                      NaN   both
2        2190.0                                      NaN   both
3        1771.0                                      NaN   both
4        3927.0                                      NaN   both

[5 rows x 34 columns]
    SID_full SID_8digit SID_5digit            Name  Grade K  Call Successful  \
0  1904-0019   19040019      40019    Hoàng Gia An  Grade 9     0        NaN
1  1904-0019   19040019      40019    Hoàng Gia An   EFL 69     0        NaN
2  1904-0020   19040020      40020  Hoàng Khải Lâm  Grade 9     0        NaN
3  1904-0020   19040020      40020  Hoàng Khải Lâm   EFL 69     0        NaN
4  1904-0024   19040024      40024       Lê Hà Thu  Grade 9     0        NaN

  No_response       Match
0         NaN  Grade 9-12
1         NaN  Grade 9-12
2         NaN  Grade 9-12
3         NaN  Grade 9-12
4         NaN  Grade 9-12
      ID       SID                        Student                  Section  \
0  10424  23003601      Bui Hoang Bach - 23003601  Grade 8 Algebra I F2024
1   3336  20034287  Bùi Lê Thảo Nguyên - 20034287  Grade 8 Algebra I F2024
2   9599  22001282   Bùi Trần Bảo Minh - 22001282  Grade 8 Algebra I F2024
3   2986  20043685     Bùi Vũ Gia Linh - 20043685  Grade 8 Algebra I F2024
4  10863  23000899       Cao Quỳnh Lam - 23000899  Grade 8 Algebra I F2024

                           Quiz  Score  \
0  1.1 Linear Functions (78170)  100.0
1  1.1 Linear Functions (78170)    NaN
2  1.1 Linear Functions (78170)  100.0
3  1.1 Linear Functions (78170)  100.0
4  1.1 Linear Functions (78170)    NaN

                                      Source_File            Quiz_Clean
0  2025-09-06T0348_Grades-Grade_8_Algebra_I_F2024  1.1 Linear Functions
1  2025-09-06T0348_Grades-Grade_8_Algebra_I_F2024  1.1 Linear Functions
2  2025-09-06T0348_Grades-Grade_8_Algebra_I_F2024  1.1 Linear Functions
3  2025-09-06T0348_Grades-Grade_8_Algebra_I_F2024  1.1 Linear Functions
4  2025-09-06T0348_Grades-Grade_8_Algebra_I_F2024  1.1 Linear Functions

# Zoom dataset cleaning

In [14]:
#take only the necessary columns 
zoom = zoom[['SID','Topic', 'ID', 'Host name', 'Host email', 'Start time', 'End time',
       'Participants', 'Duration (minutes)', 'Name (original name)', 'Email',
       'Join time', 'Leave time', 'student_stay_duration', 'Guest', 
       'date', 'time', 'day_of_week', 'hour', 'stu_join_time',
       'stu_leave_time', 'SID_str', 'role']]

#drop duplicates
zoom = zoom.drop_duplicates(subset=['ID', 'SID', 'Join time', 'Leave time', 'Name (original name)', 'student_stay_duration'], keep='last')

In [ ]:
#get student_stay_percent: because total class durations are different, we will get the percent of their stay compared to that class duration
zoom['student_stay_percent'] = (zoom['student_stay_duration']/zoom['Duration (minutes)']) *100

#get is_present: whether that class is counted as Present (student stay more than 25% of class time) or Absent (<25%)
zoom['is_present'] = (zoom['student_stay_percent']>25).astype(int)

#get minutes_late & minutes leaving early
#turn into datetime formats
zoom['Start time'] = pd.to_datetime(zoom['Start time'])
zoom['End time'] = pd.to_datetime(zoom['End time'])
zoom['Join time'] = pd.to_datetime(zoom['Join time'])
zoom['Leave time'] = pd.to_datetime(zoom['Leave time'])

#get minutes late
zoom['minutes_late'] = round((zoom['Join time']-zoom['Start time']).dt.total_seconds()/60)

#get minutes leaving early
zoom['minutes_leave_early'] = round((zoom['End time']-zoom['Leave time']).dt.total_seconds()/60)

minutes_leave_early
0.0     177291
1.0      15813
2.0       4712
4.0       4142
3.0       3978
         ...
89.0         6
88.0         5
90.0         3
91.0         1
94.0         1
Name: count, Length: 95, dtype: int64

In [ ]:
# Since the organization has open-enrolling system, 
# meaning new students can be admitted any time of the year, 
# their total sessions are different

#Get Student's first and last join sessions
student_join_stats = (zoom.groupby('SID', as_index=False).agg(
    first_join=('Join time', 'min'),
    last_join=('Join time', 'max'),
    last_leave=('Leave time', 'max')
))

student_join_stats

           SID          first_join           last_join          last_leave
0     00000006 2025-02-20 18:25:00 2025-05-29 18:25:00 2025-05-29 19:15:00
1     00000042 2025-02-04 19:26:00 2025-05-29 19:38:00 2025-05-29 20:03:00
2     00000044 2025-02-04 20:46:00 2025-02-18 20:28:00 2025-02-18 20:31:00
3     00000077 2025-02-10 18:40:00 2025-05-29 20:26:00 2025-05-29 21:09:00
4     00000092 2025-01-17 20:04:00 2025-01-17 20:04:00 2025-01-17 20:25:00
...        ...                 ...                 ...                 ...
1775  25000288 2025-05-15 18:31:00 2025-05-29 18:29:00 2025-05-29 19:25:00
1776  25000319 2025-04-17 19:10:00 2025-04-21 18:43:00 2025-04-21 19:25:00
1777  25000331 2025-04-21 19:52:00 2025-05-13 19:33:00 2025-05-13 19:42:00
1778  25000396 2025-05-05 18:26:00 2025-05-22 18:28:00 2025-05-22 19:25:00
1779  25000506 2025-05-12 19:27:00 2025-05-29 19:30:00 2025-05-29 20:25:00

[1780 rows x 4 columns]

# Clean goiten

In [28]:
goiten = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\final_goiten.xlsx", dtype={'SID_8digit':str,'SID_5digit': str})
goiten.head()

,SID_full,SID_8digit,SID_5digit,Name,Grade,Call,percent_response,success_call,no_resp_calls,Successful,No_response,Match
0,1904-0019,19040019,40019,Hoàng Gia An,Grade 9,0,0.0,0,0,NaN,NaN,Grade 9-12
1,1904-0019,19040019,40019,Hoàng Gia An,EFL 69,0,0.0,0,0,NaN,NaN,Grade 9-12
2,1904-0020,19040020,40020,Hoàng Khải Lâm,Grade 9,0,0.0,0,0,NaN,NaN,Grade 9-12
3,1904-0020,19040020,40020,Hoàng Khải Lâm,EFL 69,0,0.0,0,0,NaN,NaN,Grade 9-12
4,1904-0024,19040024,40024,Lê Hà Thu,Grade 9,0,0.0,0,0,NaN,NaN,Grade 9-12

In [29]:
#fill NAs in the Successful and No_response column as 0 (representing not called on)
goiten['Successful'] = goiten['Successful'].fillna(0)
goiten['No_response'] = goiten['No_response'].fillna(0)

In [36]:
#get relative_rank: 
# since different classes have different student_call/participation levels,
# we will get the percentile of that record for that specific class to normalize
goiten['relative_rank'] = (goiten.groupby('Grade')['Call'].rank(pct=True) *100)

goiten.head()

,SID_full,SID_8digit,SID_5digit,Name,Grade,Call,percent_response,success_call,no_resp_calls,Successful,No_response,Match,relative_rank
0,1904-0019,19040019,40019,Hoàng Gia An,Grade 9,0,0.0,0,0,0,0,Grade 9-12,50.925926
1,1904-0019,19040019,40019,Hoàng Gia An,EFL 69,0,0.0,0,0,0,0,Grade 9-12,41.654357
2,1904-0020,19040020,40020,Hoàng Khải Lâm,Grade 9,0,0.0,0,0,0,0,Grade 9-12,50.925926
3,1904-0020,19040020,40020,Hoàng Khải Lâm,EFL 69,0,0.0,0,0,0,0,Grade 9-12,41.654357
4,1904-0024,19040024,40024,Lê Hà Thu,Grade 9,0,0.0,0,0,0,0,Grade 9-12,50.925926