In [1]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Extract SIDs

In [5]:
df = pd.read_csv(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\zoom_logs.csv", dtype={'SID': str})
df

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Guest,SID,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,No,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,schedule1,TA/Teacher
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,No,23001816,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,23001816,Student
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,No,22002469,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,22002469,Student
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,No,24002190,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,24002190,Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277983,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Nguyen Bao Linh 50342,19050342@minhvietacademy.org,...,No,19050342,5/5/2025,18:24:38,Monday,18,19:12:31,19:25:37,19050342,Student
277984,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Doan Cam Tu 70116,19070116@minhvietacademy.org,...,No,19070116,5/5/2025,18:24:38,Monday,18,19:17:46,19:25:36,19070116,Student
277985,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Tran Thi Phuong Mai 02927,22002927@minhvietacademy.org,...,No,22002927,5/5/2025,18:24:38,Monday,18,19:22:10,19:25:37,22002927,Student
277986,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Nguyen Tran Huyen Ngoc 52826,19052826@minhvietacademy.org,...,No,19052826,5/5/2025,18:24:38,Monday,18,18:43:03,18:43:03,19052826,Student
277987,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Nguyen Tran Huyen Ngoc 52826,19052826@minhvietacademy.org,...,No,19052826,5/5/2025,18:24:38,Monday,18,18:44:02,19:25:36,19052826,Student

In [6]:
#Extract 5-digit SID from log in zoom name in case the student does not log in with verified school email
mask = (df['role'] == 'Student') & (df['SID_str'].isna())
extracted = (
    df.loc[mask, 'Name (original name)']
      .astype(str)
      .str.extract(r'(?<!\d)(\d{5}|\d{8})(?!\d)', expand=False)
)

# Assign only where we actually found a match
df.loc[mask, 'SID_str'] = extracted

#Check the newly extracted rows
df1 = df.loc[mask]
df1.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Guest,SID,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
9,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,#Nguyen Tam Doan 04114 ( Nguyen Tam Doan 04114 ),NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,04114,Student
13,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Thao Nguyen Nguyen,NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student
19,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"#Nguyen Hong Hanh Nhien 00790 ( ""Nguyen Nhien,...",NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:26:00,20:25:00,00790,Student
21,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,**Phạm Ngọc Kim Ngân 04410 ( Phạm Ngọc Kim Ngâ...,NaN,...,Yes,NaN,9/30/2024,19:25:00,Monday,19,19:26:00,20:25:00,04410,Student

In [7]:
# Identify rows where SID_str is exactly 8 digits (no letters or symbols)
mask_8 = df['SID_str'].astype(str).str.match(r'^\d{8}$', na=False)

# Transfer only those 8-digit numeric strings to SID
df.loc[mask_8, 'SID'] = df.loc[mask_8, 'SID_str']

# (Optional) Clear them from SID_str after moving
# df.loc[mask_8, 'SID_str'] = pd.NA

In [8]:
df['SID_5digit'] = df['SID_str'].astype(str).str.extract(r'(\d{5})$')
df.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,SID,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role,SID_5digit
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,schedule1,TA/Teacher,NaN
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,NaN,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student,NaN
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,23001816,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,23001816,Student,01816
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,22002469,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,22002469,Student,02469
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,24002190,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,24002190,Student,02190

### Match Grade

In [9]:
#read the topic_class names dictionary to match the zoom classes to the right Grade
df_grade_class_dict = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\goitenemmai\SY25_MVA_Goitenemmai (1).xlsx", sheet_name="grade_class_dict")

df_grade_class_dict

       Topic        Grade
0    2500COM      Grade K
1    2501HUM      Grade 1
2    2502HUM      Grade 2
3    2503HUM      Grade 3
4    2504HUM      Grade 4
5    2505HUM      Grade 5
6    2501MAT      Grade 1
7    2502MAT      Grade 2
8    2503MAT      Grade 3
9    2504MAT      Grade 4
10   2505MAT      Grade 5
11     25BA1         BA 1
12     25BA2         BA 2
13     25BA3         BA 3
14     25BA4         BA 4
15     25BA5         BA 5
16     25MH6         HM 6
17   2506MAT      Grade 6
18   2506ELA      Grade 6
19   2506WHI      Grade 6
20   2506SCI      Grade 6
21   2507ELA      Grade 7
22   2507SCI      Grade 7
23   2507GEO      Grade 7
24   2507MAT      Grade 7
25   2508MAT      Grade 8
26   2508UHI      Grade 8
27   2508ELA      Grade 8
28   2508SCI      Grade 8
29   25APBIO   Grade 9-12
30   25APENG   Grade 9-12
31   25APPCL   Grade 9-12
32    25ECON   Grade 9-12
33  2569EFL1  EFL 6 - 9A1
34  2569EFL2  EFL 6 - 9A2
35   2535EFL    EFL 3 - 5
36   25K2EFL    EFL K - 2

In [10]:
df_merged = pd.merge(df, df_grade_class_dict, on="Topic", how="left")
df_merged.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,date,time,day_of_week,hour,stu_join_time,stu_leave_time,SID_str,role,SID_5digit,Grade
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,schedule1,TA/Teacher,NaN,Grade 1
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,NaN,Student,NaN,Grade 1
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,23001816,Student,01816,Grade 1
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,22002469,Student,02469,Grade 1
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,9/30/2024,19:25:00,Monday,19,19:25:00,20:25:00,24002190,Student,02190,Grade 1

## Match Student List

In [11]:
#read the list of students dataset
df_students = pd.read_excel(r"C:\Users\Admin\Documents\Studio Code\customer_retention_data\goitenemmai\SY25_MVA_Goitenemmai (1).xlsx", dtype={'SID_5digit': str, 'SID_8digit': str, 'SID_5digit': str})
df_students.head()

,SID_full,SID_8digit,SID_5digit,Name,Grade_actual,Grade,EFL,Note,MVA/MVSM,concat,4 last digits,Học sinh cùng lớp có chung 4 số cuối ID
0,2001-4683,20014683,14683,Tran Khanh Chi,HM 6,HM 6,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN
1,2001-3864,20013864,13864,Nguyen Ngoc Thien,HM 6,HM 6,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN
2,\t2300-3836,\t23003836,03836,Đào Quỳnh Anh,Grade K,Grade K,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN
3,2100-0100,21000100,00100,Nguyễn Hoàng Trúc An,Grade K,Grade K,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN
4,2100-3865\t,21003865\t,03865\t,Dương Quế Anh,Grade K,Grade K,NaN,"Found in goiten, not in student list",NaN,NaN,NaN,NaN

In [14]:
m_full = df_merged.merge(df_students, left_on='SID', right_on='SID_8digit', how='left', indicator='match8')
m_full.head()

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Name,Grade_actual,Grade_y,EFL,Note,MVA/MVSM,concat,4 last digits,Học sinh cùng lớp có chung 4 số cuối ID,match8
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Mai Nguyen Truc Linh 01816,23001816@minhvietacademy.org,...,Mai Nguyễn Trúc Linh,Grade 1,Grade 1,EFL K5,Chính thức,MVA,MVA2300-1816,1816.0,NaN,both
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Nguyen Pham Nhat Minh 02469,22002469@minhvietacademy.org,...,Nguyễn Phạm Nhật Minh,Grade 1,Grade 1,EFL K5,Chính thức,MVA,MVA2200-2469,2469.0,NaN,both
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Yen Ha Tu Vy 02190,24002190@minhvietacademy.org,...,VY HÀ TÚ YÊN,Grade 1,Grade 1,EFL K5,Chính thức,MVA,MVA2400-2190,2190.0,NaN,both

In [15]:
m_full.columns

Index(['Topic', 'ID', 'Host name', 'Host email', 'Start time', 'End time',
       'Participants', 'Duration (minutes)', 'Name (original name)', 'Email',
       'Join time', 'Leave time', 'student_stay_duration', 'Guest', 'SID',
       'date', 'time', 'day_of_week', 'hour', 'stu_join_time',
       'stu_leave_time', 'SID_str', 'role', 'SID_5digit_x', 'Grade_x',
       'SID_full', 'SID_8digit', 'SID_5digit_y', 'Name', 'Grade_actual',
       'Grade_y', 'EFL', 'Note', 'MVA/MVSM', 'concat', '4 last digits',
       'Học sinh cùng lớp có chung 4 số cuối ID', 'match8'],
      dtype='object')

In [17]:
unmatched = m_full[m_full['match8']!='both']
m5 = unmatched.merge(df_students, left_on=['SID_5digit_x','Grade_x'], right_on=['SID_5digit','Grade'], how='left', indicator='match5')
m5

,Topic,ID,Host name,Host email,Start time,End time,Participants,Duration (minutes),Name (original name),Email,...,Name_y,Grade_actual_y,Grade,EFL_y,Note_y,MVA/MVSM_y,concat_y,4 last digits_y,Học sinh cùng lớp có chung 4 số cuối ID_y,match5
0,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,TA Phung ( schedule 1 ) (Host),schedule1@minhvietacademy.org,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"Hoang Anh, Bao",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,#Nguyen Tam Doan 04114 ( Nguyen Tam Doan 04114 ),NaN,...,#Nguyen Tam Doan 04114 ( Nguyen Tam Doan 04114 ),NaN,Grade 1,NaN,no match in list student but has zoom act,NaN,NaN,NaN,NaN,both
3,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,Thao Nguyen Nguyen,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,2501HUM,977 3083 0512,schedule 1,schedule1@minhvietacademy.org,9/30/2024 19:25,9/30/2024 20:25,211,60,"#Nguyen Hong Hanh Nhien 00790 ( ""Nguyen Nhien,...",NaN,...,Nguyễn Hồng Hạnh Nhiên,Grade 1,Grade 1,EFL K5,Chính thức,MVA,MVA2400-0790,790.0,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46044,25APBIO,942 5158 6913,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 19:25,5/5/2025 20:23,47,58,"Nguyen Tien, Anh",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46045,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,TA Bang ( Schedule 9 ) (Host),schedule9@minhvietacademy.org,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46046,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,Kandi Bartling,kbartling@minhvietacademy.org,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
46047,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,phạm nguyên phúc hưng 02068,NaN,...,Phạm Nguyên Phúc Hưng,Grade 9,Grade 9-12,EFL 69,Chính thức,MVA,MVA2400-2068,2068.0,NaN,both
46048,25APENG,996 9559 8473,Schedule 9,schedule9@minhvietacademy.org,5/5/2025 18:24,5/5/2025 19:25,40,61,"Nguyen Hung, Viet",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [33]:
df_merged['role'].value_counts()

role
Student       271117
TA/Teacher      6871
Name: count, dtype: int64

In [19]:
m8 = df_merged.merge(
    df_students,
    left_on='SID',
    right_on='SID_8digit',
    how='left',
    indicator='merge8'
)
m8['match_level'] = m8['merge8'].map({'both': '8digit', 'left_only': pd.NA})
m8.drop(columns='merge8', inplace=True)

# ---------- 4️⃣ Pass 2: 5-digit + Grade for unmatched ----------
unmatched8 = m8[m8['match_level'].isna()].copy()
m5 = unmatched8.merge(
    df_students,
    left_on=['SID_5digit_x', 'Grade_x'],
    right_on=['SID_5digit', 'Grade'],
    how='left',
    indicator='merge5'
)
m5['match_level'] = m5['merge5'].map({'both': '5digit+grade', 'left_only': pd.NA})
m5.drop(columns='merge5', inplace=True)

# Combine back 8-digit matches + 5-digit matches
matched_partial = pd.concat([m8[m8['match_level']=='8digit'], m5], ignore_index=True)

In [24]:
from fuzzywuzzy import process

c:\Users\Admin\anaconda3\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [25]:
unmatched5 = matched_partial[matched_partial['match_level'].isna()].copy()

# build lookup dictionary of student names by grade
student_names = df_students.groupby('Grade')['Name'].apply(list).to_dict()

def fuzzy_match(row):
    name = str(row.get('Name (original name)', '')).strip()
    grade = str(row.get('Grade', '')).strip()
    if grade not in student_names or not name:
        return pd.NA
    best, score = process.extractOne(name, student_names[grade])
    return 'name_fuzzy' if score >= 90 else pd.NA

unmatched5['match_level'] = unmatched5.apply(fuzzy_match, axis=1)

In [26]:
final_df = pd.concat([matched_partial[matched_partial['match_level'].notna()], unmatched5], ignore_index=True)
final_df['match_level'] = final_df['match_level'].fillna('none')

print(final_df['match_level'].value_counts())

match_level
8digit          233455
none             32157
5digit+grade     13892
Name: count, dtype: int64

In [28]:
final_df.columns

Index(['Topic', 'ID', 'Host name', 'Host email', 'Start time', 'End time',
       'Participants', 'Duration (minutes)', 'Name (original name)', 'Email',
       'Join time', 'Leave time', 'student_stay_duration', 'Guest', 'SID',
       'date', 'time', 'day_of_week', 'hour', 'stu_join_time',
       'stu_leave_time', 'SID_str', 'role', 'SID_5digit_x', 'Grade_x',
       'SID_full', 'SID_8digit', 'SID_5digit_y', 'Name', 'Grade_actual',
       'Grade_y', 'EFL', 'Note', 'MVA/MVSM', 'concat', '4 last digits',
       'Học sinh cùng lớp có chung 4 số cuối ID', 'match_level', 'SID_full_x',
       'SID_8digit_x', 'Name_x', 'Grade_actual_x', 'EFL_x', 'Note_x',
       'MVA/MVSM_x', 'concat_x', '4 last digits_x',
       'Học sinh cùng lớp có chung 4 số cuối ID_x', 'SID_full_y',
       'SID_8digit_y', 'SID_5digit', 'Name_y', 'Grade_actual_y', 'Grade',
       'EFL_y', 'Note_y', 'MVA/MVSM_y', 'concat_y', '4 last digits_y',
       'Học sinh cùng lớp có chung 4 số cuối ID_y'],
      dtype='object')

In [31]:
coverage = (
    final_df.groupby(['SID', 'match_level'])
             .size()
             .reset_index(name='records')
)
coverage_summary = coverage.groupby('match_level')['SID'].nunique().reset_index(name='unique_students')

print(coverage_summary)

  match_level  unique_students
0      8digit             1646